<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <!--<handlers>
      <add name="SixPack" verb="*" type="SixPack.Examples.Handlers.DefaultHandler" path="bundle.ashx" resourceType="Unspecified" preCondition=""/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".sixpack" mimeType="application/javascript" />
    </staticContent>-->
  </system.webServer>
</configuration>
